
*{
    margin: 0;
    padding: 0;
}

header{
    background-color: #d6d3d3;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}

header > .title{
    display: flex;
    align-items: center;
    gap: 10px;
}

header ul{
    display: flex;
    list-style-type: none;
    gap: 50px;
}

header ul li:hover{
    color: crimson;
}

header button{
    background-color: crimson;
    color: white;
    border: none;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
}

header input{
    padding: 5px;
    border-radius: 10px;
    border: none;
    outline: none;
}

/* filtreleme alanı */

.filter{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 20px;
    background-color: #d8d7d7a2;
}

.price{
    display: flex;
    gap: 10px;
    align-items: center;
}

.price input{
    padding: 4px;
    border-radius: 10px;
    border: none;
    outline: none;
}

.price button{
    background-color: orangered;
    color: white;
    border: none;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer;
}

/* giriş ekranı */
.wel-pic{
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 750px;
}

.wel-pic img{
    width: 100%;
    position: relative;
}

.wel-pic p{
    position: absolute;
    bottom: 0;
    background-color: #ffffff94;
    padding: 10px;
    border-radius: 10px;
    font-size: 20px;
}

/* evler */

.todays-home{
    display: flex;
    justify-content: center;
}

.home-cards img{
    width: 350px;
    border-radius: 10px;
}

.home-cards h2{
    text-align: center;
    margin: 20px;
    font-style: italic;
    color: gray;
}

.home-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.home-info button{
    background-color: orangered;
    color: white;
    border: none;
    padding: 5px;
    border-radius: 10px;
}

/* hakkımzıda alanı */

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 20px;
    background-color: #d8d7d7a2;
    padding: 40px;
    box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.about h3{
    font-style: italic;
    color: gray;
    font-size: 22px;
}

/* özellikler */

.features{
    margin: 30px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.company-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    background-color: rgba(128, 128, 128, 0.414);
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.company-info button{
    background-color: orangered;
    border: none;
    color: #fff;
    padding: 4px;
    border-radius: 10px;
}

.company-info h1{
    font-family: Arial, Helvetica, sans-serif;
}

/* iletişim */
.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px;
}

.contact input{
    width: 250px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
}

.contact button{
    background-color: orangered;
    border: none;
    color: #fff;
    padding: 4px;
    border-radius: 10px;
}

footer{
    background-color: #242424;
    color: orange;
    padding: 40px;
    display: flex;
    justify-content: center;
}

footer i{
    color: yellow;
}

/* responsive alanı */

@media (max-width: 800px){
    header{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
}